@using FinPlus.Presentation.Models;
@model TrafferModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Добавить Трафера</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4" style="border-bottom: 2px solid;">Добавить Трафера</h1>
        <form asp-controller="Trafer" asp-action="AddTrafer" method="post">
            <div class="mb-3">
                <label id="name" class="form-label">ФИО</label>
                <input id="name" name="name" class="form-control" required />
            </div>
            <div class="mb-3">
                <label asp-for="Login" class="form-label">Логин</label>
                <input asp-for="Login" class="form-control" required />
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Пароль</label>
                <input asp-for="Password" type="password" class="form-control" required />
            </div>
            <div class="mb-3">
                <label asp-for="MobileNumber" class="form-label">Номер телефона</label>
                <input type="tel" class="form-control phone" id="mobileNumber" name="mobileNumber" placeholder="Номер телефона" asp-for="MobileNumber" required />
            </div>
            <div class="mb-3">
                <label asp-for="Level" class="form-label">Уровень</label>
                <select asp-for="Level" class="form-control" required>
                    <option value="1">Junior Referal</option>
                    <option value="2">Middle Referal</option>
                    <option value="3">Senior Referal</option>
                </select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
