@model FinPlus.Presentation.Models.AuthModel
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход CRM</title>
  <link rel="stylesheet" href="~/css/styleauth.css" asp-append-version="true" />
</head>
<body>
  <div class="login-container">
    <div class="login-left">
      <div class="login-form">
        <h2>Вход CRM</h2>
                @if (Model.Error != null)
                {
                    <div class="alert alert-danger text-center" role="alert">
                        @Model.Error
                    </div>
                }
                <form asp-controller="Auth" asp-action="Entrance" method="post">
                    <div class="form-floating mb-3">
                        <input asp-for="Login" class="form-control" id="login" placeholder=" " autocomplete="off">
                        <label for="login">Логин</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" id="password" type="password" placeholder=" " autocomplete="off">
                        <label for="password">Пароль</label>
                    </div>
                    <button id="registerButton" type="submit" class="btn btn-outline-primary w-100">Войти</button>
                </form>
        <p class="error-message"></p>
      </div>
    </div>
    <div class="login-right"></div>
  </div>
</body>
</html>
