@page
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINPLUS - Добро пожаловать!</title>
    <link rel="stylesheet" href="~/css/stylehome.css" asp-append-version="true" />
</head>
<body>
    <div class="background">
        <div class="overlay"></div>
        <div class="content">
            <div class="finplus">FINPLUS</div>
            <div class="finplus">Добро пожаловать!</div>
        </div>
    </div>
</body>
</html>
