@using FinPlus.Domain.Users.Admin;
@model List<Admin>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Адинистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styletable.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stylebtn.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="header">Администрация</div>
        <div class="search-form">
            <form asp-controller="Admin" asp-action="SearchAdmin" method="post" class="form-inline">
                <input id="partName" name="partName" class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Найти</button>
            </form>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Роль</th>
                        <th>Телефон</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var admin in Model)
                    {
                        <tr>
                            <td>@admin.Name.ToString()</td>
                            <td>@admin.Role</td>
                            <td>@admin.MobileNumber</td>
                            @if (admin.Role != 0 || ViewBag.UserRole == "MainAdmin")
                            {
                                <td>
                                    <a class="nav-link text-secondary" asp-controller="Admin" asp-action="EditAdmin" asp-route-id="@admin.Id">Ред.</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <a class="nav-link text-secondary" asp-controller="Admin" asp-action="AddAdmin">Добавить+</a>
        </div>
    </div>
</body>
</html>

