body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.login-container {
    display: flex;
    height: 100%;
}

.login-left {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-form {
    width: 80%;
    max-width: 320px;
    text-align: center;
}

    .login-form h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .login-form label {
        font-weight: bold;
        margin-bottom: 8px;
        display: block;
        text-align: left;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
    }

    .login-form input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
    }

.login-right {
    flex: 7;
    height: 100vh;
    background-image: url('../photo/FP.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-left, .login-right {
        flex: none;
        width: 100%;
    }

    .login-form {
        width: 100%;
    }
}
